In [1]:
# how to control the program

In [7]:
# if condition 
x=256485
if x%2==0 :
    print("the number is even")
print("the end")

the end

In [9]:
a='1'
a.isnumeric()

True

In [12]:
num=input('enter a number')
if num.isnumeric() :
 print("the number is numeric")
 num=int(num)
else:
    print('the number is not numeric')

the number is numeric

In [18]:
username='arushi'
email='arushi@gmail.com'
password='qwerty'
if username=='arushi':
  if email=='arushi@gmail.com':
    if password=='qwerty':
        print("welcome to world")
    else:
        print("wrong password")
  else:
    print("wrong email")
else:
    print("wrong username")

welcome to world

In [21]:
#not nested code 
username='arushi'
email='arushi@gmail.com'
password='qwerty'
if username!='arushi':
    print("wrong username")
if email!='arushi@gmail.com':
     print("wrong email")
if password!='qwerty':
         print("wrong password")
else:
    print("welcome to world")

welcome to world

In [23]:
username='arushi'
email='arushi@gmail.com'
password='qwerty'
if username!='arushi':
    print("wrong username")
elif email!='arushi@gmail.com':
     print("wrong email")
elif password!='qwerty':
         print("wrong password")
else:
    print("welcome to world")

welcome to world

In [1]:
#question 

num=input('enter the number =')
if not num.isnumeric():
    print("invalid")
else:    
    num=int(num)
if num>=90 :
    print('grade is A')
elif num>=80 :
    print('grade is B')   
elif num>=70 :
    print('grade is C')
elif num>=60 :
    print('grade is D')         
# elif num<60 :
#     print('grade is F')  
else:
    print("f")

f

In [4]:
word='volkwagen'
len(word)

9

In [5]:
x='PYTHON'
for i in x:
    print(i)

P
Y
T
H
O
N

In [2]:
fruits=['apple','banana','orange']
for item in fruits:
    print(f'i have {item}')
    print("i have ", item)

i have apple
i have  apple
i have banana
i have  banana
i have orange
i have  orange

In [5]:
for i in range(6):
  print('you got point',i)

you got point 0
you got point 1
you got point 2
you got point 3
you got point 4
you got point 5

In [6]:
for num in range(1,10,3):
    print('level',num)

level 1
level 4
level 7

In [9]:
for num in range (2,11):
    print('mango',num)

mango 2
mango 3
mango 4
mango 5
mango 6
mango 7
mango 8
mango 9
mango 10

In [10]:
# reverse loop
for num in range(20,0,-2):
    print ('reverse counting - ', num)

reverse counting -  20
reverse counting -  18
reverse counting -  16
reverse counting -  14
reverse counting -  12
reverse counting -  10
reverse counting -  8
reverse counting -  6
reverse counting -  4
reverse counting -  2

In [11]:
# reverse pattern loop
for a in range(5):
    print(a*'NA')

NA
NANA
NANANA
NANANANA

for loop setting 
1. enumerate 
2. zip

In [12]:
fruits = ['apple','orange','banana']
for fruit in fruits:
    print(fruit)

apple
orange
banana

In [13]:
for fruit in enumerate (fruits):
    print(fruit)

(0, 'apple')
(1, 'orange')
(2, 'banana')

In [14]:
for i, fruit in enumerate (fruits):
    print(i,fruit)

0 apple
1 orange
2 banana

In [15]:
prices=[100,25,45,85,95,63,24,75,12]
# dono ko ek loop mei chlana hai

In [18]:
for f,p in zip(fruits,prices):
    print(f,'==>',p)

apple ==> 100
orange ==> 25
banana ==> 45

In [19]:
quantity=['2kg','4kg','3 dozen']

In [21]:
for f,p,q in zip(fruits,prices,quantity):
    print(f,'==>',q,'for', '$',p)

apple ==> 2kg for $ 100
orange ==> 4kg for $ 25
banana ==> 3 dozen for $ 45