In [1]:
a=(1,2,3,4)
print(a)
print(type(a))

(1, 2, 3, 4)
<class 'tuple'>

In [2]:
b=1,3,5,7
print(b)
print(type(b))

(1, 3, 5, 7)
<class 'tuple'>

In [5]:
for val in b:
    print(val)

1
3
5
7

In [6]:
# Tupples with mixed datatype 
my_tupple=(1,'hello',3.4)
print(my_tupple)

(1, 'hello', 3.4)

In [7]:
# nested tupple 
my_tupple=('mouse',[3,4,6],(2,6,7))
print(my_tupple)

('mouse', [3, 4, 6], (2, 6, 7))

In [8]:
# A tupple can also be created without using parameters 
# this is know as tupple packing 

my_tupple=3,5,7.8,'apple'
print(my_tupple)

(3, 5, 7.8, 'apple')

In [10]:
# Accessing tuple elemnts using indexing 
my_tupple =('p','e','r','m','i','t')
print(my_tupple[0])
print(my_tupple[5])

p
t

In [12]:
# nested tupple 
n_tupple=('mouse',[8,4,6],(1,2,3))
print(n_tupple[0][3])
print(n_tupple[1][1])
print(n_tupple[1][2])

s
4
6

In [14]:
# accessing tupples using slicing 
my_tupple=('a','r','u','s','h','i','s','a','x','e','n','a')
print(my_tupple[1:4])
print(my_tupple[:-7])
print(my_tupple[7:])
print(my_tupple[:])

('r', 'u', 's')
('a', 'r', 'u', 's', 'h')
('a', 'x', 'e', 'n', 'a')
('a', 'r', 'u', 's', 'h', 'i', 's', 'a', 'x', 'e', 'n', 'a')

# CONCATENATION

In [15]:
print((1,2,3)+(4,5,6))

(1, 2, 3, 4, 5, 6)

In [21]:
print(("repeat  ") *7)

repeat  repeat  repeat  repeat  repeat  repeat  repeat

In [22]:
a=list(b)
print(a)

[1, 3, 5, 7]

In [23]:
val=[2,7,89,98,67,56,43,98,75,45,]
print(val)
value=tuple(val)
print(value)

[2, 7, 89, 98, 67, 56, 43, 98, 75, 45]
(2, 7, 89, 98, 67, 56, 43, 98, 75, 45)

In [24]:
my_tuple=('a','p','p','l','e',)
print(my_tuple.count('p'))
print(my_tuple.index('l'))

2
3

# SETS

In [26]:
# set of integers 

my_set={1,2,3}
print(my_set)

{1, 2, 3}

In [27]:
# sets of mixed data types

my_set={1.0,'oye',(1,2,3)}
print(my_set)

{1.0, (1, 2, 3), 'oye'}

In [53]:
s1={1,2,6,9,8,7,7,6,5}
print(s1)
print(type(s1))

{1, 2, 5, 6, 7, 8, 9}
<class 'set'>

In [57]:
print(s1)
s1=print(s1)
print(s1)
st=tuple(s1)
print(st)
al=set([1,2,3,4,5,6,7,8,9,10]) # list to set 
print(a)
b=set([2,3,1,5,6,7,4,1,2]) # tuple to set 
print(b)

None
None
None

TypeError: 'NoneType' object is not iterable

In [29]:
# we can make set from a list 
# sets cannot have duplicates 

my_set=set([1,2,3,4,4])
print(my_set)

{1, 2, 3, 4}

In [30]:
my_set={1,2[3,4]}
print(my_set)

<>:1: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
C:\Users\lenovo\AppData\Local\Temp\ipykernel_8488\1557828797.py:1: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
  my_set={1,2[3,4]}
C:\Users\lenovo\AppData\Local\Temp\ipykernel_8488\1557828797.py:1: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
  my_set={1,2[3,4]}
C:\Users\lenovo\AppData\Local\Temp\ipykernel_8488\1557828797.py:1: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
  my_set={1,2[3,4]}

TypeError: 'int' object is not subscriptable

In [31]:
# initialize a wiith set()

a=set()
print(type(a))

<class 'set'>

In [36]:
# initialize my set

my_set={1,3,4}
print(my_set)
# add an element
my_set.add(2)
print(my_set)
# add multiple elements
my_set.update([2,4,5])
print(my_set)
#add list and set 
my_set.update([5,6],{1,6,8})
print(my_set)

{1, 3, 4}
{1, 2, 3, 4}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 8}

In [40]:
# removing items 
s={6,7,8,9}
print(s)
# discard an element
s.discard(7)
print(s)
# remove an element
s.remove(6)
print(s)
# pop an random item 
s.pop()
print(s)

{8, 9, 6, 7}
{8, 9, 6}
{8, 9}
{9}

In [43]:
i={1,4,3,5,7}
# i.pop()
i.clear()
print(i)

set()

# python sets operation

In [44]:
a={1,2,3,4,5}
b={6,7,8,9}
print(a| b)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [45]:
a={1,2,3,4,5}
b={6,7,8,9}
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [47]:
# set difference

a={1,2,3,4,5}
b={6,7,8,9}
print(a-b)
a.difference(b)
b-a

{1, 2, 3, 4, 5}

{6, 7, 8, 9}

In [49]:
#set symmertic difference
a={1,2,3,4,5}
b={4,5,6,7,8,9}
print(a^b)

{1, 2, 3, 6, 7, 8, 9}

In [51]:
a={1,2,3,4,5}
b={4,5,6,7,8,9}
a.symmetric_difference(b)

{1, 2, 3, 6, 7, 8, 9}

# ACTIVITY 1

In [52]:
e1={'fan,table fan,bulb,light lamp'}
e2={'washing machine,refrigerator,mixer,air frier'}
e1.add('light fans')
print(e1)

{'light fans', 'fan,table fan,bulb,light lamp'}